<!-- Sub-title for the nav -->
<% content_for :title do %>
<span class="hidden-phone">// Interior Design Group</span>
<span class="visible-phone">// IDG</span>
<% end %>


<!-- Content -->
<div class="center">
	<div class="circular top-offset"> </div>
	<h1 class="shopgreen">Interior Design Group</h1>
	<h2>// Interior Weekly</h2>
	<h2>// Material Database</h2>
	<h2>// Contact</h2>

	<p>
		Please sign in above in the menu bar.
	</p>
</div>


