<!-- Sub-title for the nav -->
<% provide(:title, '// Interior Design') %>


<!-- Content -->
<div class="center">
	<div class="circular top-offset"> </div>
	<h1 class="shopgreen">Interior Design Group</h1>
	<h2>// Interior Weekly</h2>
	<h2>// Material Database</h2>
	<h2>// Contact</h2>

	<p>
		Please sign in above in the menu bar.
	</p>
</div>


