<div class="nested-fields">
	<div class="field">
		
		
		<div class="input-prepend input-append">
			<span class="add-on"><%= f.check_box :status  %></span>

			<span class="input-container">
				<%= f.text_field :description, class: "span5" %>
			</span>
			<span class="add-on">
				<i class="icon-trash black"></i>
				<%= link_to_remove_association "Remove", f %>
			</span>
		</div>
		
		
	</div>
	
	
</div>
