<!-- Sub-title for the nav -->
<% provide(:title, '// Contact') %>


<!-- content -->
<div class="span10 offset1">

	<div class="title">
		<h1>// Contact</h1>
	</div>

	<!-- Button to trigger modal -->
	<div class="shopgray module-menu">
		<i class="icon-plus black"></i>
		<%= link_to "Add Contact", new_contact_path %>
		<i class="icon-print black" style="margin-right: 5px; margin-left: 20px;"></i>
		<%= link_to 'PDF', '#' %>
	</div>
</div>



