  <small>
    Designed by <span class="wontae"> Wontae Yang </span>
  </small>
  <nav>
    <ul>
      <li><a href="http://news.railstutorial.org/">SHoP</a></li>
      <li><%= link_to "Contact", '#' %></li>
      
    </ul>
  </nav>
