 <div class="navbar-static-top">
 	<div class="navbar-inner menu-bar">
 		<div class="container-fluid">
 			<div class="span10 offset1">

 				<ul>
 					<li><%= link_to "Home", root_path%></li>
 					<li><%= link_to "Weekly", weekly_path %></li>
 					<li><a href="#">Material DB</a></li>
 					<li><%= link_to "Contact", contact_index_path %></li>
 				</ul>
 			</div>
 		</div>
 		
 	</div>
 </div>
</header>

