 <div class="navbar-static-top">
  <div class="navbar-inner menu-bar">
  	<!-- <div class="menu-bar"> -->
	<ul>
		<li><%= link_to "Home", root_path%></li>
		<li><%= link_to "Weekly", projects_path %></li>
		<li><a href="#">Material DB</a></li>
		<li><a href="#">Contact</a></li>
		</ul>
	<!-- </div> -->
	</div>
	</div>
</header>

